<!--
<html>
  <body>
    <h1>Add location</h1>
    <form method="POST" action="/">
      <input type="text" name="title">
      <input type="submit" value="Add">
    </form>

    <h1>Books</h1>
    <table>
      {% for location in locations %}
        <tr>
          <td>
            {{location.id_}}
          </td>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{location.id_}}" name="oldtitle">
              <input type="text" value="{{location.id_}}" name="newtitle">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{location.id_}}" name="title">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>-->


<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Flask SQL Tutorial</title>
  </head>
  <body>
      <form action="./locationadd" method="post">
          <h5>Enter the user Details</h5>
          <div>
              <input type="text" name="id" placeholder="id">
          </div>
          <div>
              <input type="text" name="timestamp" placeholder="timestamp">
          </div>
          <div>
              <input type="text" name="lat_adj" placeholder="lat_adj">
          </div>
          <div>
              <input type="text" name="long_adj" placeholder="long_adj">
          </div>
          <div>
              <input type="text" name="year" placeholder="year">
          </div>
          <div>
              <input type="text" name="month" placeholder="month">
          </div>
          <div>
              <input type="text" name="day" placeholder="day">
          </div>
          <div>
              <input type="text" name="day_of_year" placeholder="day_of_year">
          </div>
          <div>
              <input type="text" name="hour" placeholder="hour">
          </div>
          <div>
              <button >Submit</button>
          </div>
      </form>
    <img src="/plot.png" alt="my plot">
      
          <h1>Locations</h1>
              <p> ID | Latitude | Longitude | Timestamp</p>
            {% for location in locations %}
              <p>{{location.id_}} | {{location.lat_adj}} | {{location.long_adj}} | {{location.timestamp}}</p>
                    <form method="POST" action="./delete">
                        <input type="hidden" value="{{location.id_}}" name="id">
                        <input type="submit" value="Delete">
                      </form>
            {% endfor %}
      
  </body>

</html>